@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  background-color: #18181b;
  color-scheme: dark;
}

/* Cache la scrollbar sur mobile pour un rendu plus propre */
::-webkit-scrollbar {
  display: none;
}
